.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 75vh;
  }

  .login-container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .login-logo {
    img {
      min-height: 80px;
      margin-bottom: 40px;
      min-width: 99px;
    }
  }

@use "../../../../public/scss/theme/glassmorphism" as glass;

  .login-form {
    width: 380px;
    display: block;
    // background-color: #fff;
    @include glass.glass-panel($opacity: 0.15, $blur: 15px);
    padding: 60px 55px 55px 55px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    img {
      margin: auto;
    }
  }

  .login-btn {
    color: #fff;
    display: block;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
  }