<div class="login-container">
  <div class="login-form p-4 shadow rounded">
    <form [formGroup]="resetPasswordForm" class="validate-form">
      <div class="row">
        @if(logoImage){
        <img class="login-logo mb-5" [src]="logoImage" alt="Logo">
        }@else {
        <img class="login-logo mb-5" src="/images/logo.png" alt="Logo">
        }
      </div>
      <h5 class="text-center"> {{'RESET_PASSWORD' | translate}}</h5>
      <div class="col-md-12">
        <div class="form-group">
          <label>{{'EMAIL' | translate}}</label>
          <input formControlName="userName" class="form-control" type="email">
        </div>
      </div>
      <div class="col-md-12 mt-1">
        <div class="form-group">
          <label>{{'PASSWORD' | translate}}</label>
          <input autocomplete="new-password" formControlName="password" class="form-control" type="password">
          @if(resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.errors )
          {
          @if(resetPasswordForm.get('password')?.errors?.['required']){
          <div class="text-danger">
            {{'PASSWORD_IS_REQUIRED' | translate}}
          </div>
          }
          @if(resetPasswordForm.get('password')?.errors?.['minlength']){
          <div class="text-danger">
            {{'YOU_HAVE_TO_ENTER_AT_LEAST_DIGIT' | translate}}
          </div>
          }
          }
        </div>
      </div>
      <div class="col-md-12 mt-1">
        <div class="form-group">
          <label>{{'CONFIRM_PASSWORD' | translate}}</label>
          <input autocomplete="new-password" formControlName="confirmPassword" class="form-control" type="password">
          @if(resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.errors){
          @if(resetPasswordForm.get('confirmPassword')?.errors?.['required']){
          <div class="text-danger">
            {{'CONFIRM_PASSWORD_IS_REQUIRED' | translate}}
          </div>
          }
          }
          @if((resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('password')?.touched) &&
          resetPasswordForm.errors?.['notSame']){
          <div class="text-danger">
            {{'PASSWORDS_DO_NOT_MATCH' | translate}}
          </div>
          }
        </div>
      </div>
      <div class="col-md-12 mt-2">
        <button (click)="resetPassword()" type="submit" class="btn  login-btn btn-primary">
          {{'RESET_PASSWORD' | translate}}
        </button>
      </div>
      <div class="col-md-12 text-center mt-3">
        <a class="link-primary" [routerLink]="['/login']">
          {{'BACK_TO_LOGIN' | translate}}
        </a>
      </div>
    </form>
  </div>
</div>
@if(isLoading){
<div class="spinner-container">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}