<mat-dialog-content>
  <div class="mb-0 d-flex justify-content-between">
    <span class="mb-4 page-title">
      {{ 'MANAGE_CUSTOMER_LADGER' | translate }}
      <app-page-help-text code="MANAGE_CUSTOMER_LADGER"></app-page-help-text>
    </span>
    <mat-icon class="close-icon text-danger cursor-pointer" (click)="onCancel()">cancel</mat-icon>
  </div>
  <form autocomplete="off" [formGroup]="customerLadgerForm" (ngSubmit)="onCustomerLadgerSubmit()">
    <div class="row">
      <div class="col-md-6 col-sm-12 mb-sm-1">
        <div class="form-group">
          <label class="text-danger" for="Date"> {{ 'DATE' | translate }} * </label>
          <input
            type="text"
            #Date
            formControlName="Date"
            (focus)="DatePicker.open()"
            [matDatepicker]="DatePicker"
            class="form-control input-with-clear"
          />
          <mat-datepicker #DatePicker (closed)="Date.blur()"></mat-datepicker>

          @if (customerLadgerForm.get('Date')?.touched && customerLadgerForm.get('Date')?.errors) {
          @if (customerLadgerForm.get('Date')?.errors?.['required']) {
          <div class="text-danger">
            {{ 'ACCOUNT_DATE_IS_REQUIRED' | translate }}
          </div>
          } }
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mb-sm-1">
        <div class="form-group">
          <label class="text-danger"> {{ 'BUSINESS_LOCATION' | translate }} * </label>
          <div class="input-group">
            <mat-select
              [dir]="langDir"
              formControlName="locationId"
              panelClass="mat-select-control"
              placeholder="{{ 'BUSINESS_LOCATION' | translate }}"
              class="form-control"
            >
              @for (location of locations; track location.id) {
              <mat-option [value]="location.id">
                {{ location.name }}
              </mat-option>
              } @if (locations.length == 0) {
              <mat-option value="">
                {{ 'NO_RECORDS' | translate }}
              </mat-option>
              }
            </mat-select>
          </div>

          @if (customerLadgerForm.get('locationId')?.touched &&
          customerLadgerForm.get('locationId')?.errors) { @if
          (customerLadgerForm.get('locationId')?.errors?.['required']) {
          <div class="text-danger">
            {{ 'BUSINESS_LOCATION_IS_REQUIRED' | translate }}
          </div>
          } }
        </div>
      </div>

      <div class="col-md-6 col-sm-12 mb-sm-1">
        <div class="form-group">
          <label class="text-danger">{{ 'CUSTOMER' | translate }} *</label>
          <div class="input-group">
            <mat-select
              [dir]="langDir"
              formControlName="accountId"
              panelClass="mat-select-control"
              placeholder="{{ 'SELECT_CUSTOMER' | translate }}"
              class="form-control"
            >
              <input
                class="form-control form-control-sm"
                [formControl]="accountNameControl"
                focused="true"
                type="text"
                autocomplete="off"
                placeholder="{{ 'SEARCH_OTHER_CUSTOMERS' | translate }}"
              />
              <mat-divider></mat-divider>

              @for (account of accounts; track account.id) {
              <mat-option [dir]="langDir" [value]="account.id">
                {{ account.name }}
              </mat-option>
              } @if (accounts.length == 0) {
              <mat-option value="">
                {{ 'NO_RECORDS' | translate }}
              </mat-option>
              }
            </mat-select>
          </div>

          @if (customerLadgerForm.get('accountId')?.touched &&
          customerLadgerForm.get('accountId')?.errors) { @if
          (customerLadgerForm.get('accountId')?.errors?.['required']) {
          <div class="text-danger">
            {{ 'CUSTOMER_IS_REQUIRED' | translate }}
          </div>
          } }
        </div>
      </div>

      <div class="col-md-6 col-sm-12 mb-sm-1">
        <div class="form-group">
          <label class="text-danger">{{ 'OVERDUE' | translate }}:</label>
          {{ overdue | currency }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="text-danger">{{ 'AMOUNT' | translate }} * </label>
          <input formControlName="amount" class="form-control" type="number" />

          @if (customerLadgerForm.get('amount')?.touched &&
          customerLadgerForm.get('amount')?.errors) { @if
          (customerLadgerForm.get('amount')?.errors?.['required'] ||
          customerLadgerForm.get('amount')?.errors?.['min']) {
          <div class="text-danger">
            {{ 'AMOUNT_IS_REQUIRED' | translate }}
          </div>
          } @if (customerLadgerForm.get('amount')?.errors?.['exceedsOverdue']) {
          <div class="text-danger">
            {{ 'AMOUNT_CANNOT_EXCEED_OVERDUE' | translate }}
          </div>
          } }
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>{{ 'REFERENCE' | translate }}</label>
          <input formControlName="reference" class="form-control" type="text" />
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>{{ 'DESCRIPTION' | translate }}</label>
          <input formControlName="description" class="form-control" type="text" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>{{ 'NOTE' | translate }}</label>
        <textarea formControlName="note" class="form-control w-100" cols="30" rows="5"></textarea>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12 my-2">
        <button class="success me-2" matButton="filled" cdkFocusInitial>
          <mat-icon class="medium-icon fs-5 align-middle">save</mat-icon>
          {{ 'SAVE' | translate }}
        </button>
        <button type="button" class="error" matButton="filled" (click)="onCancel()">
          <mat-icon class="medium-icon fs-5 align-middle">cancel</mat-icon>
          {{ 'CANCEL' | translate }}
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
