  .login-container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .login-logo {
    img {
      min-height: 80px;
      margin-bottom: 40px;
      min-width: 99px;
    }
  }

  .login-form {
    width: 380px;
    display: block;
    background-color: #fff;
    padding: 60px 55px 55px 55px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    img {
      margin: auto;
    }
  }

  .login-btn {
    color: #fff;
    display: block;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
  }