<mat-card appearance="outlined" class="mb-4">
  <mat-card-content>
    <div class="row align-items-center">
      <div class="col-lg-6 col-sm-12 mb-2">
        <span class="mb-0 page-title">{{ "BEST_SELLING_PRODUCTS" | translate }}
          <app-page-help-text code="BEST_SELLING_PRODUCTS"></app-page-help-text>
        </span>
      </div>
      <div class="col-lg-6 col-sm-12 d-flex justify-content-end mb-2" [formGroup]="searchForm">
        <div class="row">
          <div class="col-sm-4">
            <label for="fromDate">{{'BUSINESS_LOCATION' | translate}}</label>
            <mat-select [dir]="langDir" formControlName="locationId" panelClass="mat-select-control"
              class="form-control form-control-sm">
              @for(location of locations; track location.id){
              <mat-option [value]="location.id">
                {{location.name}}
              </mat-option>
              }
            </mat-select>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="fromDate">{{'FROM_DATE' | translate}}</label>
              <div class="input-group input-group-sm">
                <input type="text" placeholder="{{'FROM_DATE' | translate}}" #fromDate formControlName="fromDate"
                  (focus)="fromDatePicker.open()" [matDatepicker]="fromDatePicker" class="form-control">
                <span class="input-group-text btn-primary" (click)="fromDatePicker.open()" style="cursor:pointer;">
                  <mat-icon class="medium-icon fs-6 align-middle">calendar_today</mat-icon>
                </span>
              </div>
              <mat-datepicker #fromDatePicker (closed)="fromDate.blur()"></mat-datepicker>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="toDate">{{'TO_DATE' | translate}} </label>
              <div class="input-group input-group-sm">
                <input type="text" placeholder="{{'TO_DATE' | translate}}" #toDate formControlName="toDate"
                  (focus)="toDatePicker.open()" [matDatepicker]="toDatePicker" class="form-control">
                <span class="input-group-text btn-primary" (click)="toDatePicker.open()" style="cursor:pointer;">
                  <mat-icon class="medium-icon fs-6 align-middle">calendar_today</mat-icon>
                </span>
              </div>
              <mat-datepicker #toDatePicker (closed)="toDate.blur()"></mat-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mt-10">
        <div echarts [options]="barChartOptions" class="chart-container"></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>