<section class="content">
  <div class="container-fluid">
    <div class="d-flex mb-2">
      <div class="me-auto">
        <span class="mb-0 page-title">{{ 'SUPPLIERS' | translate }}
          <app-page-help-text code="SUPPLIERS"></app-page-help-text>
        </span>
      </div>
      <div class="d-flex justify-content-end">
        <button *hasClaim="'SUPP_ADD_SUPPLIER'" matButton="filled" class="primary me-2"
          [routerLink]="['/supplier/manage/addItem']">
          <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
          <span class="d-none d-sm-inline">{{ 'ADD_SUPPLIER' | translate }}</span>
        </button>
        <button class="primary me-2" matButton="filled" (click)="openImportDialog()">
          <mat-icon class="medium-icon fs-5 align-middle">cloud_upload</mat-icon>
          <span class="d-none d-sm-inline"> {{ "IMPORT" | translate }} </span>
        </button>
        <button class="secondary me-2" matButton="filled" [matMenuTriggerFor]="exportMenu">
          <mat-icon class="medium-icon fs-5 align-middle">cloud_download</mat-icon>
          <span class="d-none d-sm-inline"> {{ "EXPORT" | translate }} </span>
        </button>
        <mat-menu #exportMenu="matMenu">
          <button mat-menu-item (click)="exportData('excel')">
            <mat-icon>description</mat-icon>
            <span>Export to Excel</span>
          </button>
          <button mat-menu-item (click)="exportData('csv')">
            <mat-icon>text_snippet</mat-icon>
            <span>Export to CSV</span>
          </button>
        </mat-menu>
        <button class="error me-2" matButton="filled" (click)="refresh()">
          <mat-icon class="medium-icon fs-5 align-middle">refresh</mat-icon>
          <span class="d-none d-sm-inline"> {{ 'REFRESH' | translate }} </span>
        </button>
        <button class="secondary me-2" matButton="filled" (click)="onTableRefresh()">
          <mat-icon class="medium-icon fs-5 align-middle">settings</mat-icon>
          <span class="d-none d-sm-inline"> {{ 'TABLE_SETTINGS' | translate }}</span>
        </button>
      </div>
    </div>
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="table-responsive">
          <div class="grid-height-large">
            <table [dir]="langDir" mat-table matSortDisableClear [dataSource]="supplierStore.suppliers()"
              multiTemplateDataRows matSort [matSortActive]="orderByColumn" [matSortDirection]="orderByDirection">
              @for (column of tableSettingsStore.suppliersTableSettingsVisible(); track $index) {
              <ng-container [matColumnDef]="column.key">
                @if(column.key === 'action') {
                <th [ngStyle]="{ 'min-width.px': column.width }" mat-header-cell *matHeaderCellDef></th>
                <td [ngStyle]="{ 'min-width.px': column.width }" mat-cell *matCellDef="let supplier">
                  <div class="d-flex align-items-center gap-2 my-1">
                    <button matMiniFab class="neutral" (click)="toggleRow(supplier)">
                      @if(supplier != expandedElement){
                      <mat-icon>chevron_right</mat-icon>
                      } @if(supplier == expandedElement){
                      <mat-icon>expand_more</mat-icon>
                      }
                    </button>
                    <button matMiniFab class="primary" [matMenuTriggerFor]="menu"
                      *hasClaim="['SUPP_UPDATE_SUPPLIER', 'SUPP_DELETE_SUPPLIER']" class="primary">
                      <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu" [dir]="langDir">
                      <button *hasClaim="'SUPP_UPDATE_SUPPLIER'" mat-menu-item (click)="editSupplier(supplier.id)">
                        <mat-icon>edit</mat-icon>
                        <span>{{'EDIT' | translate}}</span>
                      </button>
                      <button *hasClaim="'SUPP_DELETE_SUPPLIER'" mat-menu-item (click)="deleteSupplier(supplier)">
                        <mat-icon>delete</mat-icon>
                        <span>{{'DELETE' | translate}}</span>
                      </button>
                    </mat-menu>
                  </div>
                </td>
                } @else if(column.key === 'email') {
                <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.allowSort"
                  [ngStyle]="{ 'min-width.px': column.width }">
                  {{ column.header | translate }}
                </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{ 'min-width.px': column.width }">
                  @if(element[column.key]){
                  <ng-container>
                    <a href="mailto:{{ element[column.key] }}">{{ element[column.key] }}</a>
                  </ng-container>
                  }
                </td>
                } @else {
                <th [ngStyle]="{ 'min-width.px': column.width }" mat-header-cell *matHeaderCellDef mat-sort-header
                  [disabled]="!column.allowSort">
                  {{ column.header | translate }}
                </th>
                <td [ngStyle]="{ 'min-width.px': column.width }" mat-cell *matCellDef="let element">
                  {{ element[column.key] }}
                </td>
                }
              </ng-container>
              } @for (column of tableSettingsStore.suppliersTableSettingsVisible(); track $index) {
              <ng-container [matColumnDef]="column.key + '-search'">
                @if(column.key === 'supplierName') {
                <th mat-header-cell *matHeaderCellDef>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="NameFilter" />
                </th>
                } @else if(column.key === 'contactPerson') {
                <th mat-header-cell *matHeaderCellDef>
                  <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="ContactFilter"> -->
                </th>
                } @else if(column.key === 'email') {
                <th mat-header-cell *matHeaderCellDef>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="EmailFilter" />
                </th>
                } @else if(column.key === 'mobileNo') {
                <th mat-header-cell *matHeaderCellDef>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="MobileOrPhoneFilter" />
                </th>
                } @else if(column.key === 'country') {
                <th mat-header-cell *matHeaderCellDef>
                  <input type="text" class="form-control form-control-sm" [formControl]="countryControl"
                    [matAutocomplete]="auto" />
                  <mat-autocomplete [dir]="langDir" [autoActiveFirstOption]="true"
                    (optionSelected)="CountryFilter = $event.option.value" #auto="matAutocomplete"
                    panelClass="mat-select-control">
                    <mat-option value="">{{ 'NONE' | translate }}</mat-option>
                    @for (cont of filteredCountryList | async; track $index) {
                    <mat-option [dir]="langDir" [value]="cont.countryName">
                      {{ cont.countryName }}
                    </mat-option>
                    }
                  </mat-autocomplete>
                </th>
                } @else if(column.key === 'website') {
                <th mat-header-cell *matHeaderCellDef>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="WebsiteFilter" />
                </th>
                } @else {
                <th mat-header-cell *matHeaderCellDef></th>
                }
              </ng-container>
              }

              <ng-container matColumnDef="footer">
                <td mat-footer-cell [attr.colspan]="visibleTableKeys.length" *matFooterCellDef>
                  <mat-paginator [length]="supplierStore.supplierResourceParameter().totalCount"
                    [pageSize]="supplierStore.supplierResourceParameter().pageSize"
                    [pageSizeOptions]="[10, 20, 30, 50]">
                  </mat-paginator>
                </td>
              </ng-container>
              <tr *matNoDataRow>
                <td [attr.colspan]="visibleTableKeys.length">
                  <span class="p-4 mt-4">
                    <b> {{ 'NO_DATA_FOUND' | translate }}</b>
                  </span>
                </td>
              </tr>
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let supplier" [attr.colspan]="visibleTableKeys.length">
                  @if(supplier.id == expandedElement?.id){
                  <div animate.enter="expandanimation" animate.leave="collapseanimation" class="expandable-panel">
                    <div class="my-2 mx-5">
                      <app-supplier-po-list [supplierId]="supplier.id"> </app-supplier-po-list>
                    </div>
                  </div>
                  }
                </td>
              </ng-container>
              <tr class="grid-header-color" mat-header-row *matHeaderRowDef="visibleTableKeys; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: visibleTableKeys" [ngClass]="{
                              'odd-row': isOddDataRow(getDataIndex(row)),
                              'even-row': !isOddDataRow(getDataIndex(row))
                            }"></tr>
              <tr style="height: 45px !important;" mat-header-row
                *matHeaderRowDef="visibleTableKeysSearch; sticky: true"></tr>
              <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>