.drawer {
  position: fixed;
  top: 0;
  left: -480px;
  width: 480px;
  background: #fff;
  color: #fff;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  z-index: 1000;
}

.drawer.open {
  left: 0;
}

.drawer .close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
}

.selected-category {
  .category {
    color: #fff !important;
  }

  background-color: #3f51b5 !important;
  color: #fff !important;
}

.brand-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

@media screen and (max-width: 1024px) {
  .drawer {
    width: 560px;
    left: -320px;
  }

  .drawer.open {
    left: 0;
  }

  .card-pos,
  .card-pos .card-body,
  .card-pos img,
  .list-group-item,
  .selected-category .category {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 768px) {

  .card-pos,
  .card-pos .card-body,
  .card-pos img,
  .list-group-item,
  .selected-category .category {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 1024px) {
  .card-pos {
    height: 100px;
  }

  .card-pos .card-body {
    overflow-y: visible;
  }

  .brand-img {
    width: 60px;
    /* fixed width */
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .card-pos {
    height: 70px;
  }

  .drawer {
    width: 90vw;
    left: -320px;
  }

  .card-pos .card-body {
    overflow-y: visible;
  }

  .card-pos img {
    max-height: 24px;
  }

  .brand-img {
    width: 40px;
    /* fixed width */
    height: 40px;
  }
}