<section class="content">
  <div class="container-fluid">
    <div class="d-flex mb-2">
      <div class="me-auto">
        <span class="mb-0 page-title">{{ 'MANAGE_SALES_ORDERS' | translate }}
          <app-page-help-text code="SALES_ORDER"></app-page-help-text>
        </span>
      </div>
      <div class="d-flex justify-content-end">
        @if(!isEdit){
        <button *hasClaim="'SOR_CONVERT_TO_SO'" class="primary" matButton="filled" (click)="convertFromSalesRequest()">
          <mat-icon class="medium-icon fs-5 align-middle">refresh</mat-icon>
          <span class="d-none d-sm-inline"> {{ 'CONVERT_FROM_SALES_ORDER_REQUEST' | translate }}</span>
        </button>
        }
      </div>
    </div>
    <form autocomplete="off" [formGroup]="salesOrderForm">
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="form-group">
                <label class="text-danger">{{ 'SO_NUMBER' | translate }} <span>*</span></label>
                <input formControlName="orderNumber" class="form-control w-100" type="text" />
                @if(salesOrderForm.get('orderNumber')?.touched &&
                salesOrderForm.get('orderNumber')?.errors &&
                salesOrderForm.get('orderNumber')?.errors?.['required']) {
                <div class="text-danger">
                  {{ 'SO_ORDER_NUMBER_IS_REQUIRED' | translate }}
                </div>
                }
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="form-group">
                <label class="text-danger" for="soCreatedDate">{{ 'ORDER_DATE' | translate }} *</label>
                <div class="input-group">
                  <input type="text" #soCreatedDate formControlName="soCreatedDate" (focus)="soCreatedDatePicker.open()"
                    [matDatepicker]="soCreatedDatePicker" class="form-control child-1" />
                  <mat-datepicker #soCreatedDatePicker (closed)="soCreatedDate.blur()"></mat-datepicker>
                  <input matInput formControlName="soCreatedTime" [matTimepicker]="createdPicker"
                    class="form-control child-2" />
                  <mat-timepicker #createdPicker />
                </div>
                @if(salesOrderForm.get('soCreatedDate')?.touched &&
                salesOrderForm.get('soCreatedDate')?.errors &&
                salesOrderForm.get('soCreatedDate')?.errors?.['required']){
                <div class="text-danger">
                  {{ 'ORDER_DATE_IS_REQUIRED' | translate }}
                </div>
                }
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="form-group">
                <label class="text-danger" for="deliveryDate">{{ 'DELIVERY_DATE' | translate }} *</label>
                <input type="text" placeholder="{{ 'DELIVERY_DATE' | translate }}" #deliveryDate
                  formControlName="deliveryDate" (focus)="deliveryDatePicker.open()"
                  [matDatepicker]="deliveryDatePicker" class="form-control input-with-clear" />
                <mat-datepicker #deliveryDatePicker (closed)="deliveryDate.blur()"></mat-datepicker>
                @if(salesOrderForm.get('deliveryDate')?.touched &&
                salesOrderForm.get('deliveryDate')?.errors &&
                salesOrderForm.get('deliveryDate')?.errors?.['required']) {
                <div class="text-danger">
                  {{ 'DELIVERY_DATE_REQUIRED' | translate }}
                </div>
                }
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="form-group">
                <label class="text-danger">{{ 'CUSTOMER_NAME' | translate }} *</label>
                <div class="input-group">
                  <mat-select [dir]="langDir" formControlName="customerId" panelClass="mat-select-control"
                    placeholder="{{ 'SELECT_CUSTOMER' | translate }} " class="form-control">
                    <input class="form-control form-control-sm" [formControl]="customerNameControl" focused="'true'"
                      type="text" autocomplete="off" placeholder="{{ 'SEARCH_OTHER_CUSTOMERS' | translate }}" />
                    <mat-divider></mat-divider>
                    @for(customer of customers; track $index){
                    <mat-option [dir]="langDir" [value]="customer.id">
                      {{ customer.customerName }}
                    </mat-option>
                    } @if(customers.length==0){
                    <mat-option value="">
                      {{ 'NO_RECORDS' | translate }}
                    </mat-option>
                    }
                  </mat-select>
                  <button *hasClaim="'CUST_ADD_CUSTOMER'" class="btn btn-primary btn-sm" type="button"
                    (click)="addNewCustomer()">
                    <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
                  </button>
                </div>
                @if(salesOrderForm.get('customerId')?.touched &&
                salesOrderForm.get('customerId')?.errors &&
                salesOrderForm.get('customerId')?.errors?.['required']){
                <div class="text-danger">
                  {{ 'CUSTOMER_NAME_IS_REQUIRED' | translate }}
                </div>
                }
              </div>
            </div>

            <div class="col-lg-4 col-sm-6">
              <div class="form-group">
                <label class="text-danger">{{ 'BUSINESS_LOCATION' | translate }} *</label>
                <div class="input-group">
                  <mat-select [dir]="langDir" formControlName="locationId" panelClass="mat-select-control"
                    placeholder="{{ 'BUSINESS_LOCATION' | translate }}" class="form-control">
                    @for(location of locations; track $index){
                    <mat-option [value]="location.id">
                      {{ location.name }}
                    </mat-option>
                    } @if(locations.length==0){
                    <mat-option value="">
                      {{ 'NO_RECORDS' | translate }}
                    </mat-option>
                    }
                  </mat-select>
                </div>
                @if(salesOrderForm.get('locationId')?.touched &&
                salesOrderForm.get('locationId')?.errors &&
                salesOrderForm.get('locationId')?.errors?.['required']){
                <div class="text-danger">
                  {{ 'BUSINESS_LOCATION_IS_REQUIRED' | translate }}
                </div>
                }
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="form-group">
                <label class="text-danger">{{ 'DELIVERY_STATUS' | translate }} *</label>
                <div class="input-group">
                  <mat-select [dir]="langDir" formControlName="deliveryStatus" panelClass="mat-select-control"
                    placeholder="{{ 'DELIVERY_STATUS' | translate }}" class="form-control">
                    @for(deliveryStatus of salesDeliveryStatus; track $index){
                    <mat-option [value]="deliveryStatus.id">
                      {{ deliveryStatus.name | translate }}
                    </mat-option>
                    }
                  </mat-select>
                </div>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-lg-6 col-sm-12 mt-1">
                <div class="input-group">
                  <button class="btn blue-btn btn btn-primary" type="button">
                    <mat-icon class="fs-4 align-middle">search</mat-icon>
                  </button>
                  <input placeholder="{{ 'SEARCH_BY_NAME' | translate }}" type="text" class="form-control form-control"
                    [formControl]="productNameControl" [matAutocomplete]="autoProduct" />
                  <mat-autocomplete [autoActiveFirstOption]="true"
                    (optionSelected)="onProductSelection($event.option.value)" #autoProduct="matAutocomplete">
                    @let products= productList$ | async; @for(product of products; track $index){
                    <mat-option [value]="product">
                      {{ product.name }}
                    </mat-option>
                    }
                  </mat-autocomplete>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 mt-1">
                <div class="input-group">
                  <button class="btn blue-btn btn btn-primary" type="button">
                    <mat-icon class="fs-4 align-middle">view_week</mat-icon>
                  </button>
                  <input class="form-control" [formControl]="barCodeNameControl" type="text"
                    placeholder="{{ 'SCAN_BARCODE' | translate }}" />
                </div>
              </div>
            </div>
            <div class="col-sm-12  mt-sm-1" formArrayName="salesOrderItems">
              <div class="row">
                <div class="col">
                  <div class="table-responsive">
                    <table class="table table-pos table-bordered table-sm">
                      <thead>
                        <tr class="grid-header-color">
                          <th class="table-column-120">
                            <span class="fw-semibold small"> {{ 'PRODUCT' | translate }}</span>
                          </th>
                          <th class="table-column-100">
                            <span class="fw-semibold small"> {{ 'PRICE' | translate }} & {{ 'UNIT' | translate }}</span>
                          </th>
                          <th class="table-column-80">
                            <span class="fw-semibold small"> {{ 'QUANTITY' | translate }}</span>
                          </th>
                          <th class="table-column-120">
                            <span class="fw-semibold small"> {{ 'DISCOUNT' | translate }}</span>
                          </th>
                          <th class="table-column-120">
                            <span class="fw-semibold small"> {{ 'TAX' | translate }}</span>
                          </th>
                          <th class="table-column-120">
                            <span class="fw-semibold small"> {{ 'TOTAL' | translate }}</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        @if(salesOrderItemsArray.controls.length==0){
                        <tr>
                          <td colspan="10">
                            <span class="ms-3"> {{ 'NO_PRODUCT_SELECTED' | translate }}</span>
                          </td>
                        </tr>
                        } @for(salesOrderItem of salesOrderItemsArray.controls; let i = $index;
                        track $index){
                        <tr [formGroupName]="i">
                          <td>
                            <div class="d-flex flex-column gap-1">
                              <span class="ms-1">
                                {{ salesOrderItem.get('productName')?.value }}</span>
                              @if(salesOrderItem.get('productId')?.touched &&
                              salesOrderItem.get('productId')?.errors &&
                              salesOrderItem.get('productId')?.errors?.['required']){
                              <div class="text-danger">
                                {{ 'PRODUCT_IS_REQUIRED' | translate }}
                              </div>
                              }
                              @if(salesOrderItem.get('productUrl')?.value){
                              <img class="img-thumbnail grid-img-thumbnail d-none d-md-inline"
                                [src]="baseUrl + salesOrderItem.get('productUrl')?.value"
                                alt="{{ 'PRODUCT_IMAGE' | translate }}" />
                              }@else {
                              <img class="img-thumbnail grid-img-thumbnail d-none d-lg-inline"
                                src="/images/no-preview.jpg" alt="{{ 'PRODUCT_IMAGE' | translate }}" />
                              }
                              @if(salesOrderItemsArray.controls.length !==1){
                              <button matMiniFab class="error" (click)="onRemoveSalesOrderItem(i)">
                                <mat-icon class="medium-icon fs-5 align-middle">delete</mat-icon>
                              </button>
                              }
                            </div>
                          </td>
                          <td>
                            <div class="d-flex flex-column gap-1">
                              <label class="fw-semibold small">{{ 'PRICE' | translate }}</label>
                              <input class="form-control form-control-sm max-width-120" type="number"
                                (change)="onUnitPriceChange()" formControlName="unitPrice"
                                placeholder="{{ 'UNIT_PER_PRICE' | translate }}" />
                              @if(salesOrderItem.get('unitPrice')?.touched &&
                              salesOrderItem.get('unitPrice')?.errors ){
                              @if(salesOrderItem.get('unitPrice')?.errors?.['required']){
                              <div class="text-danger">
                                {{ 'UNIT_PER_PRICE_IS_REQUIRED' | translate }}
                              </div>
                              }@if(salesOrderItem.get('unitPrice')?.errors?.['min']){
                              <div class="text-danger">
                                {{ 'PRICE_SHOULD_BE_MORE_THEN_0' | translate }}
                              </div>
                              } }

                              <label class="fw-semibold small">{{ 'UNIT' | translate }}</label>
                              <mat-select [dir]="langDir" formControlName="unitId"
                                (selectionChange)="onUnitSelectionChange($event.value, i)"
                                class="form-control max-width-120">
                                @for(a of unitsMap[i]; track $index){
                                <mat-option [dir]="langDir" [value]="a.id">
                                  {{ a.name }}
                                </mat-option>
                                }
                              </mat-select>
                              @if(salesOrderItem.get('unitId')?.touched &&
                              salesOrderItem.get('unitId')?.errors &&
                              salesOrderItem.get('unitId')?.errors?.['required']){
                              <div class="text-danger">
                                {{ 'UNIT_IS_REQUIRED' | translate }}
                              </div>
                              }
                            </div>
                          </td>
                          <td>
                            <input class="form-control form-control-sm max-width-150" type="number"
                              (change)="onQuantityChange()" formControlName="quantity"
                              placeholder="{{ 'QUANTITY' | translate }}" />
                            @if(salesOrderItem.get('quantity')?.touched &&
                            salesOrderItem.get('quantity')?.errors){
                            @if(salesOrderItem.get('quantity')?.errors?.['required']){
                            <div class="text-danger">
                              {{ 'QUANTITY_IS_REQUIRED' | translate }}
                            </div>
                            } @if(salesOrderItem.get('quantity')?.errors?.['min']){
                            <div class="text-danger">
                              {{ 'QUANTITY_SHOULD_BE_MORE_THEN_0' | translate }}
                            </div>
                            } @if(salesOrderItem.get('quantity')?.errors?.['pattern']){
                            <div class="text-danger">
                              {{ 'QUANTITY_MUST_BE_A_NUMBER' | translate }}
                            </div>
                            }
                            }
                          </td>
                          <td>
                            <div class="d-flex flex-column gap-1">
                              <div class="fw-semibold small">
                                {{ 'SUBTOTAL_BEFORE_DISCOUNT' | translate }}:
                                {{
                                salesOrderItem.get('quantity')?.value ?? 0
                                | quantitiesunitprice : salesOrderItem.get('unitPrice')?.value
                                | customCurrency
                                }}
                              </div>
                              <mat-radio-group aria-label="Select Discount Type" (change)="onDiscountTypeChange(i)"
                                formControlName="discountType">
                                <mat-radio-button value="fixed">{{ 'FIXED' | translate }}</mat-radio-button>
                                <mat-radio-button value="percentage">{{ 'PERCENTAGE' | translate }}</mat-radio-button>
                              </mat-radio-group>
                              <input class="form-control form-control-sm max-width-120"
                                formControlName="discountPercentage" (change)="onDiscountChange()"
                                placeholder="{{ 'DISCOUNT' | translate }}" />
                              @if(salesOrderItem.get('discountPercentage')?.errors?.['min']){
                              <div class="text-danger">
                                {{ 'DISCOUNT_SHOULD_BE_MORE_THEN_0' | translate }}
                              </div>
                              } @if(salesOrderItem.errors?.['invalidFixedDiscount']){
                              <div class="text-danger">
                                {{ 'INVALID_FIXED_DISCOUNT' | translate }}
                              </div>
                              }
                              @if(salesOrderItem.errors?.['invalidPercentageDiscount']){
                              <div class="text-danger">
                                {{ 'INVALID_PERCENTAGE_DISCOUNT' | translate }}
                              </div>
                              }
                              <div class="fw-semibold small">
                                {{ 'SUBTOTAL_AFTER_DISCOUNT' | translate }}:
                                {{
                                salesOrderItem.get('quantity')?.value
                                | quantitiesunitprice
                                : salesOrderItem.get('unitPrice')?.value
                                : salesOrderItem.get('discountPercentage')?.value
                                : salesOrderItem.get('discountType')?.value
                                | customCurrency
                                }}
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex flex-column gap-1">
                              <label class="fw-semibold small">{{ 'TAX' | translate }}:</label>
                              <mat-select [dir]="langDir" formControlName="taxIds"
                                placeholder="{{ 'SELECT_TAX' | translate }}" (selectionChange)="onTaxSelectionChange()"
                                class="form-control max-width-120" multiple>
                                @for(tax of taxsMap[i]; track $index){
                                <mat-option [dir]="langDir" [value]="tax.id">{{ tax.name }} ({{ tax.percentage }}%)
                                </mat-option>
                                }
                              </mat-select>
                              <span class="fw-semibold small">{{ 'SELECTED' | translate }}:</span>
                              @if(salesOrderItem.get('taxIds')?.value?.length > 0){
                              @for(taxId of salesOrderItem.get('taxIds')?.value; track $index){
                              @for(tax of taxsMap[i]; track $index){
                              @if(tax.id == taxId){
                              <div class="text-danger fw-semibold small">
                                {{ tax?.name }} ({{ tax?.percentage }}%)
                              </div>
                              }
                              }
                              }
                              }@else{
                              <div class="text-danger fw-semibold">
                                {{ 'NO_TAX' | translate }}
                              </div>
                              }
                            </div>
                          </td>
                          <td>
                            <div class="d-flex flex-column gap-1">
                              <input class="form-control form-control-sm max-width-150" type="number"
                                (change)="onTotalChange(i)" formControlName="total"
                                placeholder="{{ 'TOTAL' | translate }}" />

                              @if(salesOrderItem.get('taxIds')?.value){
                              <div class="text-danger fw-semibold small">
                                {{ 'TAX_AMOUNT' | translate }}:
                              </div>
                              <div class="text-danger fw-semibold small">
                                {{
                                salesOrderItem.get('quantity')?.value
                                | quantitiesunitpriceTax
                                : salesOrderItem.get('unitPrice')?.value
                                : salesOrderItem.get('discountPercentage')?.value
                                : salesOrderItem.get('taxIds')?.value
                                : taxs
                                : salesOrderItem.get('discountType')?.value
                                | customCurrency
                                }}
                              </div>
                              }
                            </div>
                          </td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10 text-end fw-bolder">
              {{ 'SUB_TOTAL_BEFORE_DISCOUNT' | translate }}:
            </div>
            <div class="col-2 text-start fw-bolder">
              {{ totalBeforeDiscount | customCurrency }}
            </div>
          </div>
          <div class="row">
            <div class="col-10 text-end fw-bolder">{{ 'TOTAL_TAX' | translate }}:</div>
            <div class="col-2 text-start fw-bolder">
              {{ totalTax | customCurrency }}
            </div>
          </div>
          <div class="row">
            <div class="col-10 text-end fw-bolder">{{ 'TOTAL_DISCOUNT' | translate }}:</div>
            <div class="col-2 text-start text-danger fw-bolder">
              {{ totalDiscount | customCurrency }}
            </div>
          </div>
          <div class="row">
            <div class="col-10 text-end fw-bolder">{{ 'ROUND_OFF' | translate }}:</div>
            <div class="col-2 text-start text-danger fw-bolder">
              {{ totalRoundOff | customCurrency }}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row">
            <div class="col-10 text-end fw-bolder">{{ 'GRAND_TOTAL' | translate }} :</div>
            <div class="col-2 text-start fw-bolder">
              {{ grandTotal | customCurrency }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-12 mt-sm-1">
              <div class="form-group">
                <label>{{ 'TERM_AND_CONDITION' | translate }} </label>
                <div class="input-group">
                  <textarea formControlName="termAndCondition" class="form-control w-100">
                      </textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 mt-sm-1">
              <div class="form-group">
                <label>{{ 'NOTES' | translate }} </label>
                <div class="input-group">
                  <textarea formControlName="note" class="form-control w-100"> </textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-12 mb-1">
              <button type="button" (click)="onSalesOrderSubmit()" class="success me-2" matButton="filled"
                *hasClaim="['SO_ADD_SO', 'SO_UPDATE_SO', 'SO_RETURN_SO', 'SOR_CONVERT_TO_SO']">
                <mat-icon class="medium-icon fs-5 align-middle">save</mat-icon>
                {{ 'SAVE' | translate }}
              </button>
              @if(!isEdit){
              <button type="button" (click)="onSalesOrderSubmit(true)" class="warning me-2" matButton="filled"
                *hasClaim="['SO_ADD_SO_PAYMENT']">
                <mat-icon class="medium-icon fs-5 align-middle">save</mat-icon>
                {{ 'SAVE_AND_PAY' | translate }}
              </button>
              }
              <button type="button" (click)="onSalesOrderList()" class="error" matButton="filled">
                <mat-icon class="medium-icon fs-5 align-middle">cancel</mat-icon>
                {{ 'CANCEL' | translate }}
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</section>