<div style="position:relative;left:-15420px">
  <div style="width:100%;display:flex;">
    <div id="generateBarcode">

      <div id="a4-container" style="display: flex; flex-wrap: wrap; gap: 3px; ">
        @for (product of generateBarcode?.products; track product) {
          @switch (generateBarcode?.noOfLabelsPerPage) {
            
            <!-- For 20 labels per page -->
            @case ('20') {
              @for (label of product.noOfLabelsAarry; let i = $index; track label) {
                <div style="flex: 1 1 48%; box-sizing: border-box; margin: 15px 0px 10px 0px; border: 1px solid #ccc; text-align: center;">
                  @if (generateBarcode?.isPrintProudctName) {
                    <span style="font-size: 12px;">
                      {{product.productName}} <br>
                    </span>
                  }
                  @if (generateBarcode?.isPrintPackagingDate && product?.packagingDate) {
                    <span style="font-size: 12px;">
                      {{'PACKAGING_DATE'| translate}} : {{product?.packagingDate | date: 'dd/MM/yyyy'}} <br>
                    </span>
                  }
                  @if (generateBarcode?.isPrintPrice) {
                    <span style="font-size: 12px;">
                      {{'PRICE'| translate}} : {{product?.salesPrice|customCurrency}} <br>
                    </span>
                  }
                  <svg [id]="'product-'+product.productId+'-'+label"></svg>
                </div>
                @if ((i + 1) % 20 === 0) {
                  <div style="page-break-after: always; break-after: page;"></div>
                }
              }
            }

            <!-- For 30 labels per page -->
            @case ('30') {
              @for (label of product.noOfLabelsAarry; let i = $index; track label) {
                <div style="flex: 1 1 31%; box-sizing: border-box; margin: 0px 0px 10px 0px; border: 1px solid #ccc; text-align: center;">
                  @if (generateBarcode?.isPrintProudctName) {
                    <span>{{product.productName}} <br></span>
                  }
                  @if (generateBarcode?.isPrintPackagingDate && product?.packagingDate) {
                    <span>
                      {{'PACKAGING_DATE'| translate}} : {{product?.packagingDate | date: 'dd/MM/yyyy'}} <br>
                    </span>
                  }
                  @if (generateBarcode?.isPrintPrice) {
                    <span>
                      {{'PRICE'| translate}} : {{product?.salesPrice|customCurrency}} <br>
                    </span>
                  }
                  <svg [id]="'product-'+product.productId+'-'+label"></svg>
                </div>
                @if ((i + 1) % 30 === 0) {
                  <div style="page-break-after: always; break-after: page;"></div>
                }
              }
            }

            <!-- For 40 labels per page -->
            @case ('40') {
              @for (label of product.noOfLabelsAarry; let i = $index; track label) {
                <div style="flex: 1 1 22%; box-sizing: border-box;  border: 1px solid #ccc; text-align: center;">
                  @if (generateBarcode?.isPrintProudctName) {
                    <span>{{product.productName}} <br></span>
                  }
                  @if (generateBarcode?.isPrintPackagingDate && product.packagingDate) {
                    <span>
                      {{'PACKAGING_DATE'| translate}} : {{product?.packagingDate | date: 'dd/MM/yyyy'}} <br>
                    </span>
                  }
                  @if (generateBarcode?.isPrintPrice) {
                    <span>
                      {{'PRICE'| translate}} : {{product?.salesPrice|customCurrency}} <br>
                    </span>
                  }
                  <svg [id]="'product-'+product.productId+'-'+label"></svg>
                </div>
                @if ((i + 1) % 40 === 0) {
                  <div style="page-break-after: always; break-after: page;"></div>
                }
              }
            }

            <!-- Default case -->
            @default {
              @for (label of product.noOfLabelsAarry; let i = $index; track label) {
                <div style="flex: 1 1 100%; box-sizing: border-box; margin: 0px 0px 10px 0px; border: 1px solid #ccc; text-align: center;">
                  @if (generateBarcode?.isPrintProudctName) {
                    <span>{{product.productName}} <br></span>
                  }
                  @if (generateBarcode?.isPrintPackagingDate && product?.packagingDate) {
                    <span>
                      {{'PACKAGING_DATE'| translate}} : {{product?.packagingDate | date: 'dd/MM/yyyy'}} <br>
                    </span>
                  }
                  @if (generateBarcode?.isPrintPrice) {
                    <span>
                      {{'PRICE'| translate}} : {{product?.salesPrice|customCurrency}} <br>
                    </span>
                  }
                  <svg [id]="'product-'+product.productId+'-'+label"></svg>
                </div>
                @if ((i + 1) % 1 === 0) {
                  <div style="page-break-after: always; break-after: page;"></div>
                }
              }
            }
          }
        }
      </div>
    </div>
  </div>
</div>

@if (isLoading) {
  <div class="spinner-container">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}