<section class="content">
  <div class="container-fluid">
    <div class="d-flex mb-2">
      <div class="me-auto">
        <span class="mb-0 page-title">{{'USERS' | translate}}
          <app-page-help-text code="USERS"></app-page-help-text>
        </span>
      </div>
      <div class="d-flex justify-content-end">
        <button *hasClaim="'USR_ADD_USER'" class="primary" matButton="filled" [routerLink]="['/users/manage']">
          <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
          {{'ADD_USER' | translate}}
        </button>
      </div>
    </div>
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="table-responsive">
          <div class="grid-height-medium">
            <table mat-table [dir]="langDir" matSortDisableClear [dataSource]="dataSource" matSort
              matSortActive="email">
              <ng-container matColumnDef="action">
                <th class="table-column-100" mat-header-cell *matHeaderCellDef>
                  <span> {{'ACTION' | translate}} </span>
                </th>
                <td class="table-column-100" mat-cell *matCellDef="let user">
                  <button *hasClaim="['USR_UPDATE_USER','USR_ASSIGN_USR_PERMISSIONS','USR_RESET_PWD','USR_DELETE_USER']"
                    matMiniFab class="primary" [matMenuTriggerFor]="menu" aria-label="Action">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" [dir]="langDir">
                    <button *hasClaim="'USR_UPDATE_USER'" (click)="editUser(user.id)" mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>{{'EDIT' | translate}}</span>
                    </button>
                    <button *hasClaim="'USR_ASSIGN_USR_PERMISSIONS'" mat-menu-item (click)="userPermission(user.id)">
                      <mat-icon>admin_panel_settings</mat-icon>
                      <span>{{'PERMISSION' | translate}}</span>
                    </button>
                    <button *hasClaim="'USR_RESET_PWD'" mat-menu-item (click)="resetPassword(user)">
                      <mat-icon>vpn_key</mat-icon>
                      <span>{{'RESET_PASSWORD' | translate}}</span>
                    </button>
                    <button *hasClaim="'USR_DELETE_USER'" mat-menu-item (click)="deleteUser(user)">
                      <mat-icon>delete</mat-icon>
                      <span>{{'DELETE' | translate}}</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th class="table-column-300" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'EMAIL' | translate}}
                </th>
                <td class="table-column-300" mat-cell *matCellDef="let user">
                  @if(user.email){
                  <a href="mailto:{{user.email}}">{{user.email}}</a>
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="firstName">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'FIRST_NAME' | translate}}
                </th>
                <td class="table-column-200" mat-cell *matCellDef="let user"> {{user.firstName}} </td>
              </ng-container>
              <ng-container matColumnDef="lastName">
                <th class="table-column-175" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'LAST_NAME' | translate}}
                </th>
                <td class="table-column-175" mat-cell *matCellDef="let user"> {{user.lastName}} </td>
              </ng-container>
              <ng-container matColumnDef="phoneNumber">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'PHONE_NUMBER' |
                  translate}}
                </th>
                <td class="table-column-200" mat-cell *matCellDef="let user"> {{user.phoneNumber}} </td>
              </ng-container>
              <ng-container matColumnDef="isActive">
                <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'STATUS' | translate}}
                </th>
                <td class="table-column-100" mat-cell *matCellDef="let user">
                  @if(user.isActive){
                  <span class="badge bg-success">{{'ACTIVE' |
                    translate}}</span>
                  }@else {
                  <span class="badge bg-warning">{{'INACTIVE' |
                    translate}}</span>
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="action-search" sticky>
                <th mat-header-cell *matHeaderCellDef> </th>
              </ng-container>
              <ng-container matColumnDef="email-search">
                <th mat-header-cell *matHeaderCellDef>
                  <input placeholder="{{'EMAIL' | translate}}" type="text" class="form-control form-control-sm"
                    [(ngModel)]="EmailFilter">
                </th>
              </ng-container>
              <ng-container matColumnDef="firstName-search">
                <th mat-header-cell *matHeaderCellDef>
                  <input placeholder="{{'FIRST_NAME' | translate}}" type="text" class="form-control form-control-sm"
                    [(ngModel)]="FirstNameFilter">
                </th>
              </ng-container>
              <ng-container matColumnDef="lastName-search">
                <th mat-header-cell *matHeaderCellDef>
                  <input placeholder="{{'LAST_NAME' | translate}}" type="text" class="form-control form-control-sm"
                    [(ngModel)]="LastNameFilter">
                </th>
              </ng-container>
              <ng-container matColumnDef="mobile-search">
                <th mat-header-cell *matHeaderCellDef>
                  <input placeholder="{{'MOBILE' | translate}}" type="text" class="form-control form-control-sm"
                    [(ngModel)]="MobileNoFilter">
                </th>
              </ng-container>
              <ng-container matColumnDef="status-search" sticky>
                <th mat-header-cell *matHeaderCellDef> </th>
              </ng-container>
              <ng-container matColumnDef="footer">
                <td mat-footer-cell colspan="6" *matFooterCellDef>
                  <mat-paginator [dir]="langDir" [length]="userResource.totalCount" [pageSize]="userResource.pageSize"
                    [pageSizeOptions]="[10, 20, 30]">
                  </mat-paginator>
                </td>
              </ng-container>
              <tr *matNoDataRow>
                <td colspan="9">
                  <span class="p-4 mt-4">
                    <b> {{'NO_DATA_FOUND' | translate}}</b>
                  </span>
                </td>
              </tr>
              <tr class="grid-header-color" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{
                              'odd-row': isOddDataRow(getDataIndex(row)),
                              'even-row': !isOddDataRow(getDataIndex(row))
                            }"></tr>
              <tr mat-header-row
                *matHeaderRowDef="['action-search','email-search','firstName-search','lastName-search', 'mobile-search','status-search']">
              </tr>
              <tr mat-footer-row *matFooterRowDef="footerToDisplayed"></tr>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>