<mat-dialog-content>

  <div class=" mb-0 d-flex justify-content-between">
    <span class="mb-4 page-title">
      {{ "MANAGE_BUSINESS_LOCATION" | translate }}
      <app-page-help-text code="BUSINESS_LOCATIONS"></app-page-help-text>
    </span>
    <mat-icon class="close-icon text-danger cursor-pointer" (click)="onCancel()">cancel</mat-icon>
  </div>

  <form [formGroup]="locationForm">
    <div class="row">
      <div class="col-lg-6 col-sm-12 mb-sm-1">
        <div class="form-group">
          <label class="text-danger form-label" for="name">{{"LOCATION_NAME" | translate}}
            *</label>
          <input formControlName="name" type="text" class="form-control" id="name">
          @if(locationForm.get('name')?.touched && locationForm.get('name')?.errors &&
          locationForm.get('name')?.errors?.['required']){
          <div class="text-danger">
            {{"NAME_IS_REQUIRED" | translate}}
          </div>
          }
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 mb-sm-1">
        <div class="form-group">
          <label for="contactPerson" class="form-label">{{"CONTACT_PERSON" | translate}}</label>
          <input formControlName="contactPerson" type="text" class="form-control" id="contactPerson">
        </div>
      </div>
      <div class="col-sm-12 mb-sm-1">
        <div class="form-group">
          <label for="address" class="text-danger form-label">{{"ADDRESS" | translate}}*</label>
          <textarea formControlName="address" class="form-control" id="address"></textarea>
          @if(locationForm.get('address')?.touched && locationForm.get('address')?.errors &&
          locationForm.get('address')?.errors?.['required']){
          <div class="text-danger">
            {{"ADDRESS_IS_REQUIRED" | translate}}
          </div>
          }
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 mb-sm-1">
        <div class="form-group">
          <label for="mobile" class="form-label">{{"MOBILE" | translate}}</label>
          <input formControlName="mobile" type="text" class="form-control" id="mobile">
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 mb-sm-1">
        <div class="form-group">
          <label for="email" class="form-label">{{"EMAIL" | translate}}</label>
          <input formControlName="email" type="text" class="form-control" id="email">
          @if(locationForm.get('email')?.touched && locationForm.get('email')?.errors &&
          locationForm.get('email')?.errors?.['email']){
          <div class="text-danger">
            {{"PLEASE_ENTER_VALID_EMAIL" | translate}}.
          </div>
          }
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mt-3 col-sm-12">
        <button (click)="saveLocation()" class="success me-2" matButton="filled" cdkFocusInitial>
          <mat-icon class="medium-icon fs-5 align-middle">save</mat-icon> {{'SAVE' | translate}}
        </button>
        <button type="button" class="error" matButton="filled" (click)="onCancel()">
          <mat-icon class="medium-icon fs-5 align-middle">cancel</mat-icon> {{'CANCEL' | translate}}
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>