<mat-dialog-content>
  <div class="mb-0 d-flex justify-content-between">
    <span class="mb-4 page-title">
      {{ "ADD_ATTACHMENT" | translate }}
    </span>
    <mat-icon class="close-icon text-danger cursor-pointer" (click)="closeDialog()">cancel</mat-icon>
  </div>
  <form autocomplete="off" [formGroup]="inquiryDocumentForm" (ngSubmit)="onAttachmentSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          <label for="txtName" class="col-sm-4 col-form-label">{{'NAME' | translate}}</label>
          <div class="col-sm-8">
            <input type="text" id="txtName" formControlName="name" class="form-control">
          </div>
        </div>
        <div class="form-group row mt-2">
          <label for="txtName" class="col-sm-4 col-form-label">{{'UPLOAD_FILE' | translate}}:</label>
          <div class="col-sm-8">
            <input (change)="fileEvent($event)" #fileInput name="file" class="form-control" type="file"
              name="Upload File" fxFlex="30">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 col-md-12">
      <button class="success me-2" matButton="filled" type="submit" cdkFocusInitial>
        <mat-icon class="medium-icon fs-5 align-middle">save</mat-icon> {{'SAVE' | translate}}
      </button>
      <button type="button" class="error" matButton="filled" (click)="closeDialog()">
        <mat-icon class="medium-icon fs-5 align-middle">cancel</mat-icon> {{'CANCEL' | translate}}
      </button>
    </div>
  </form>
</mat-dialog-content>