<section class="content">
  <div class="container-fluid">
    <div class="d-flex mb-2">
      <div class="me-auto">
        <span class="mb-0 page-title">{{ "SALES_ORDER_REQUEST" | translate }}
          <app-page-help-text code="SALES_ORDER_REQUEST"></app-page-help-text>
        </span>
      </div>
      <div class="d-flex justify-content-end gap-2">
        <!-- Buttons can be added here if needed in the future -->
        <button *hasClaim="'SOR_ADD_SO_REQUEST'" class="primary" matButton="filled"
          [routerLink]="['/sales-order-request/add']">
          <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
          <span class="d-none d-sm-inline"> {{ "ADD_SALES_ORDER_REQUEST" | translate }}</span>
        </button>
        <button class="error" matButton="filled" (click)="refresh()">
          <mat-icon class="medium-icon fs-5 align-middle">refresh</mat-icon>
          <span class="d-none d-sm-inline"> {{ "REFRESH" | translate }}</span>
        </button>
      </div>
    </div>
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="table-responsive">
          <div class="grid-height-large">
            <table [dir]="langDir" mat-table matSortDisableClear [dataSource]="salesOrderRequestStore.salesOrders()"
              multiTemplateDataRows matSort [matSortActive]="orderByColumn" [matSortDirection]="orderByDirection">
              <ng-container matColumnDef="action">
                <th class="table-column-100" mat-header-cell *matHeaderCellDef>
                </th>
                <td class="table-column-100" mat-cell *matCellDef="let so">
                  <div class="row">
                    <div class="d-flex my-1 gap-2">
                      <button matMiniFab class="neutral" (click)="toggleRow(so)">
                        @if(so == expandedElement){
                        <mat-icon>expand_more</mat-icon>
                        }@else {
                        <mat-icon>chevron_right</mat-icon>
                        }
                      </button>
                      <button matMiniFab class="primary" *hasClaim="[
                                                'SOR_UPDATE_SO_REQUEST',
                                                'SOR_SOR_DETAIL',
                                                'SOR_CONVERT_TO_SO',
                                                'SOR_GENERATE_INVOICE',
                                                'SOR_DELETE_SO_REQUEST']" [matMenuTriggerFor]="menu"
                        aria-label="Action">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" [dir]="langDir">
                        @if(so.status == 0){
                        <button *hasClaim="'SOR_UPDATE_SO_REQUEST'" mat-menu-item
                          (click)="editSalesOrder(so)">
                          <mat-icon>edit</mat-icon>
                          <span>{{'EDIT' | translate}}</span>
                        </button>
                        }
                        <button *hasClaim="'SOR_SOR_DETAIL'" mat-menu-item
                          [routerLink]="['/sales-order/detail', so.id]">
                          <mat-icon class="medium-icon fs-5 align-middle">info</mat-icon>
                          <span>{{'DETAIL' | translate}}</span>
                        </button>
                        <button *hasClaim="'SOR_CONVERT_TO_SO'" mat-menu-item (click)="convertToSalesOrder(so)">
                          <mat-icon>navigation</mat-icon>
                          <span>{{'CONVERT_TO_SALES' | translate}}</span>
                        </button>
                        <button *hasClaim="'SOR_GENERATE_INVOICE'" mat-menu-item (click)="generateInvoice(so)">
                          <mat-icon>receipt</mat-icon>
                          <span>{{'GENERATE_INVOICE' | translate}}</span>
                        </button>
                        <button *hasClaim="'SOR_DELETE_SO_REQUEST'" mat-menu-item (click)="deleteSalesOrder(so)">
                          <mat-icon>delete</mat-icon>
                          <span>{{'DELETE' | translate}}</span>
                        </button>
                        <button *hasClaim="'SOR_SEND_EMAIL'" mat-menu-item (click)="sendEmail(so)">
                          <mat-icon>mail</mat-icon>
                          <span>{{'SEND_EMAIL' | translate}}</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="soCreatedDate">
                <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'ORDER_DATE' |
                  translate}}
                </th>
                <td class="table-column-150" mat-cell *matCellDef="let so"> {{so.soCreatedDate |
                  utcToLocalTime:'short'
                  }} </td>
              </ng-container>
              <ng-container matColumnDef="orderNumber">
                <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'ORDER_NUMBER' |
                  translate}}
                </th>
                <td class="table-column-150" mat-cell *matCellDef="let so">
                  <a [routerLink]="['/sales-order/detail', so.id]">{{so.orderNumber}} </a>
                </td>
              </ng-container>
              <ng-container matColumnDef="deliveryDate">
                <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'DELIVERY_DATE' |
                  translate}}
                </th>
                <td class="table-column-100" mat-cell *matCellDef="let so"> {{so.deliveryDate |
                  utcToLocalTime:'shortDate'
                  }} </td>
              </ng-container>
              <ng-container matColumnDef="businessLocation">
                <th class="table-column-200" mat-header-cell mat-sort-header *matHeaderCellDef>
                  {{'BUSINESS_LOCATION' | translate}}
                </th>
                <td class="table-column-200" mat-cell *matCellDef="let so">
                  {{so.businessLocation}}
                </td>
              </ng-container>
              <ng-container matColumnDef="customerName">
                <th class="table-column-300" mat-header-cell mat-sort-header *matHeaderCellDef>
                  {{'CUSTOMER_NAME' |
                  translate}}
                </th>
                <td class="table-column-300" mat-cell *matCellDef="let so">
                  {{so.customerName}}
                </td>
              </ng-container>
              <ng-container matColumnDef="totalDiscount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'TOTAL_DISCOUNT' | translate}}
                </th>
                <td mat-cell *matCellDef="let so">
                  {{so.totalDiscount | customCurrency}}
                </td>
              </ng-container>
              <ng-container matColumnDef="totalTax">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'TOTAL_TAX' | translate}} </th>
                <td mat-cell *matCellDef="let so">
                  {{so.totalTax | customCurrency}}
                </td>
              </ng-container>
              <ng-container matColumnDef="totalAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'TOTAL_AMOUNT' | translate}}
                </th>
                <td mat-cell *matCellDef="let so">
                  {{so.totalAmount | customCurrency}}
                </td>
              </ng-container>
              <ng-container matColumnDef="action-search">
                <th mat-header-cell *matHeaderCellDef> </th>
              </ng-container>
              <ng-container matColumnDef="soCreatedDate-search">
                <th mat-header-cell *matHeaderCellDef>
                </th>
              </ng-container>
              <ng-container matColumnDef="orderNumber-search">
                <th mat-header-cell *matHeaderCellDef>
                  <input placeholder="{{'ORDER_NO' | translate}}" type="text" class="form-control form-control-sm"
                    [(ngModel)]="OrderNumberFilter">
                </th>
              </ng-container>
              <ng-container matColumnDef="deliverDate-search">
                <th mat-header-cell *matHeaderCellDef>
                </th>
              </ng-container>
              <ng-container matColumnDef="businessLocation-search">
                <th mat-header-cell *matHeaderCellDef>
                </th>
              </ng-container>
              <ng-container matColumnDef="customer-search">
                <th mat-header-cell *matHeaderCellDef>
                  <input placeholder="{{'CUSTOMER' | translate}}" type="text" class="form-control form-control-sm"
                    [formControl]="customerNameControl" [matAutocomplete]="autoCustomer">
                  <mat-autocomplete [dir]="langDir" [autoActiveFirstOption]="true"
                    (optionSelected)='CustomerFilter=$event.option.value' #autoCustomer="matAutocomplete">
                    <mat-option value="">{{'NONE' | translate}}</mat-option>
                    @for(customer of customerList$ | async; track $index){
                    <mat-option [dir]="langDir" [value]="customer.customerName">
                      {{customer.customerName}}
                    </mat-option>
                    }
                  </mat-autocomplete>
                </th>
              </ng-container>
              <ng-container matColumnDef="totalAmount-search">
                <th mat-header-cell *matHeaderCellDef>
                </th>
              </ng-container>
              <ng-container matColumnDef="totalDiscount-search">
                <th mat-header-cell *matHeaderCellDef>
                </th>
              </ng-container>
              <ng-container matColumnDef="totalTax-search">
                <th mat-header-cell *matHeaderCellDef>
                </th>
              </ng-container>
              <ng-container matColumnDef="footer">
                <td mat-footer-cell colspan="13" *matFooterCellDef>
                  <mat-paginator [dir]="langDir"
                    [length]="salesOrderRequestStore.salesOrderResourceParameter().totalCount"
                    [pageSize]="salesOrderRequestStore.salesOrderResourceParameter().pageSize"
                    [pageSizeOptions]="[10, 20, 30, 50]">
                  </mat-paginator>
                </td>
              </ng-container>
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let soObject" [attr.colspan]="displayedColumns.length">
                  @if(soObject == expandedElement){
                  <div animate.enter="expandanimation" animate.leave="collapseanimation" class="expandable-panel">
                    <div class="my-2 mx-5">
                      <app-sales-order-request-items [salesOrder]="soObject">
                      </app-sales-order-request-items>
                    </div>
                  </div>
                  }
                </td>
              </ng-container>
              <tr *matNoDataRow>
                <td colspan="9">
                  <span class="p-4 mt-4">
                    <b> {{'NO_DATA_FOUND' | translate}}</b>
                  </span>
                </td>
              </tr>
              <tr class="grid-header-color" mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{
                              'odd-row': isOddDataRow(getDataIndex(row)),
                              'even-row': !isOddDataRow(getDataIndex(row))
                            }" [class.bg-warning1]="row.status===1" [class.bg-warning1]="row.status===1"></tr>
              <tr style="height: 45px !important;" mat-header-row *matHeaderRowDef="filterColumns;sticky: true">

              <tr mat-footer-row *matFooterRowDef="footerToDisplayed;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
              </tr>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
@if(salesOrderForInvoice){
<app-sales-order-invoice [salesOrder]="salesOrderForInvoice" [sendEmail]="isSendEmail"
  (emailBlob)="onEmailBlob($event)">
</app-sales-order-invoice>
}