<mat-card appearance="outlined">
  <mat-card-content>
    <div class="row  align-items-center justify-content-between">
      <div class="col-md-auto col-sm-auto">
        <div class="section-title">
          <span class="mb-0 page-title-sub">
            {{ 'PURCHASE_ORDERS' | translate }}
            <app-page-help-text code="TRANSACTION_ITEMS"></app-page-help-text>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table [dir]="langDir" mat-table matSortDisableClear [dataSource]="dataSource" multiTemplateDataRows matSort
        matSortActive="poCreatedDate">
        <ng-container matColumnDef="poCreatedDate">
          <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'CREATED_DATE' | translate }}
          </th>
          <td class="table-column-100" mat-cell *matCellDef="let po">
            {{ po.poCreatedDate | utcToLocalTime : 'shortDate' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="orderNumber">
          <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'ORDER_NUMBER' | translate }}
          </th>
          <td class="table-column-150" mat-cell *matCellDef="let po">
            <a [routerLink]="['/purchase-order/detail', po.id]">{{ po.orderNumber }} </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="paymentStatus">
          <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'PAYMENT_STATUS' | translate }}
          </th>
          <td mat-cell *matCellDef="let po" style="text-align: center">
            <span class="badge rounded-pill" [ngClass]="{
                'bg-success': po.paymentStatus == 0,
                'bg-danger': po.paymentStatus == 1,
                'bg-warning': po.paymentStatus == 2
              }">
              {{ po.paymentStatus | paymentStatus }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="totalTax">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TOTAL_TAX' | translate }}</th>
          <td mat-cell *matCellDef="let po">
            {{ po.totalTax | customCurrency }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalDiscount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'TOTAL_DISCOUNT' | translate }}
          </th>
          <td mat-cell *matCellDef="let po">
            {{ po.totalDiscount | customCurrency }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'TOTAL_AMOUNT' | translate }}
          </th>
          <td mat-cell *matCellDef="let po">
            {{ po.totalAmount | customCurrency }}
          </td>
        </ng-container>
        <ng-container matColumnDef="footer">
          <td mat-footer-cell colspan="7" *matFooterCellDef>
            <mat-paginator [dir]="langDir" [length]="purchaseOrderResource.totalCount"
              [pageSize]="purchaseOrderResource.pageSize" [pageSizeOptions]="[5, 10, 15]">
            </mat-paginator>
          </td>
        </ng-container>
        <tr *matNoDataRow>
          <td colspan="9">
            <span class="p-4 mt-4">
              <b> {{ 'NO_DATA_FOUND' | translate }}</b>
            </span>
          </td>
        </tr>
        <tr class="grid-header-color" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{
                              'odd-row': isOddDataRow(getDataIndex(row)),
                              'even-row': !isOddDataRow(getDataIndex(row))
                            }"></tr>
        <tr mat-footer-row *matFooterRowDef="footerToDisplayed; sticky: true"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>