<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target name="db"
            xsi:type="Database"
            connectionString="${configsetting:item=ConnectionStrings.SqliteConnectionString}"
            dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite"
            commandType="Text"
            commandText="INSERT INTO NLog (Id, MachineName, Logged, Level, Message, Logger, Properties, Callsite, Exception) VALUES (@Id, @MachineName, @Logged, @Level, @Message, @Logger, @Properties, @Callsite, @Exception)"
            >
      <parameter name="@Id"             layout="${guid}" />
      <parameter name="@MachineName"    layout="${machinename}" />
      <parameter name="@Logged"         layout="${date}" />
      <parameter name="@Level"          layout="${level}" />
      <parameter name="@Message"        layout="${message}" />
      <parameter name="@Logger"         layout="${logger}" />
      <parameter name="@Properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@Callsite"       layout="${callsite}" />
      <parameter name="@Exception"      layout="${exception:tostring}" />
    </target>
    <!-- Console Target for VS Output -->
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="db" />
  </rules>
</nlog>
