.hr {
  border-bottom: 1px solid #2095F3;
}

.fixed-select {
  width: 180px;
  /* fixed width */
}

.max-width-120 {
  width: 200px;
}

.max-width-40 {
  width: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fixed-select {
    width: 110px;
    /* fixed width */
  }

  .max-width-120 {
    width: 110px;
  }

  .max-width-40 {
    width: 40px;
  }
}