<section class="content">
  <div class="container-fluid">
    <div class="d-flex mb-2">
      <div class="me-auto">
        <span class="mb-0 page-title">{{ "TAXES" | translate }}
          <app-page-help-text code="TAXES"></app-page-help-text>
        </span>
      </div>
      <div class="d-flex justify-content-end gap-2">
        <button *hasClaim="'PRO_MANAGE_TAX'" class="primary" matButton="filled" (click)="manageTax(null)">
          <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
          {{ "ADD_TAX" | translate }}
        </button>
      </div>
    </div>
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="table-responsive">
          <div class="grid-height-large">
            <table [dir]="langDir" mat-table [dataSource]="taxes">
              <ng-container matColumnDef="action">
                <th class="table-column-30" mat-header-cell *matHeaderCellDef> {{"ACTION" |
                  translate}}
                </th>
                <td class="table-column-30" mat-cell *matCellDef="let element">
                  <div class="d-flex gap-2 my-1">
                    <button matMiniFab (click)="manageTax(element)" *hasClaim="'PRO_MANAGE_TAX'" class="primary">
                      <mat-icon class="medium-icon fs-5 align-middle">edit</mat-icon>
                    </button>
                    <button matMiniFab (click)="deleteTax(element)" *hasClaim="'PRO_MANAGE_TAX'" class="error">
                      <mat-icon class="medium-icon fs-5 align-middle">delete</mat-icon>
                    </button>
                    <!-- <button *hasClaim="'PRO_MANAGE_TAX'" (click)="manageTax(element)" class="primary me-2"
                      matButton="filled" type="button">
                      <mat-icon class="medium-icon fs-5 align-middle">edit</mat-icon>
                      <span class="d-none d-sm-inline"> {{"EDIT" | translate}}</span>
                    </button>
                    <button *hasClaim="'PRO_MANAGE_TAX'" (click)="deleteTax(element)" class="error" matButton="filled"
                      type="button">
                      <mat-icon class="medium-icon fs-5 align-middle">delete</mat-icon>
                      <span class="d-none d-sm-inline"> {{"DELETE" | translate}}</span>
                    </button> -->
                  </div>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{"NAME" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="percentage">
                <th mat-header-cell *matHeaderCellDef> {{"PERCENTAGE" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.percentage}} %</td>
              </ng-container>
              <tr *matNoDataRow>
                <td colspan="3">
                  <span class="p-4 mt-4">
                    <b> {{'NO_DATA_FOUND' | translate}}</b>
                  </span>
                </td>
              </tr>
              <tr class="grid-header-color" mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{
                              'odd-row': isOddDataRow(getDataIndex(row)),
                              'even-row': !isOddDataRow(getDataIndex(row))
                            }"></tr>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>